html {
    background-color: black;
    color: green;
    background: black;
    font-family: "Oswald", sans-serif;
    text-align: center;
}

h1 {
  text-align: center;
}

.body {
  height: max-content;
}

.scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
    pointer-events: none; 
  }
  
.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) .5%,
    transparent 1%
  );
  
  animation: fudge 7s ease-in-out alternate infinite;
  pointer-events: none; 
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  animation: fadeIn;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.container2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  width: 90%;
}

.prefix {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 4vw;
  color: rgba(165, 141, 141, .4);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  margin-left: 6vw;
  animation: glitch-2 5s 5.02s infinite;
}
  
  @keyframes glitch-2 {
    1%{
      transform: rotateX(10deg) skewX(70deg);
    }
    2%{
      transform: rotateX(0deg) skewX(0deg);
    }
  }

  .glitch {
    font-style: italic;
    color: rgb(223, 191, 191);
    position: relative;
    font-size: 9vw;
    animation: glitch 5s 5s infinite;
    margin: 5vh 20vw;
  }
  
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -.5vw 0 magenta;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
  }
  
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -.5vw 0 lightgreen;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  }
  
  @keyframes glitch {
    1%{
      transform: rotateX(10deg) skewX(90deg);
    }
    2%{
      transform: rotateX(0deg) skewX(0deg);
    }
  }

  .passRsqt {
    position: relative;
    font-family: Orbitron;
    font-weight: 100;
    font-size: 4vw;
    color: red;
    text-transform: uppercase;
    text-align: center;
    animation: glitch-2 5s 5.02s infinite;
  }

  .password {
    font-family: Orbitron;
    mix-blend-mode: difference;
    font-weight: 100;
    font-size: 8vw;
    color: rgb(223, 191, 191);
    text-transform: uppercase;
    text-align: center;
    margin-top: 10vh;
    letter-spacing: .5em;
    background-color: gray;
  }

  .access {
    font-family: Orbitron;
    font-weight: 100;
    font-size: 8vw;
    color: green;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10vh;
    letter-spacing: .5em;
    transform: translate(0, 50%);
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;} 
 } 

 @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;} 
} 
  
.prologueLink {
  font-family: Orbitron;
  font-weight: 100;
  font-size: 3vw;
  color: rgba(165, 141, 141, .4);
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  animation: fadeIn;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

a:link {
  color: #FAB3AD;
  text-decoration: none;
}

a:visited {
  color: #FAB3AD;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

.loading {
  font-family: Orbitron;
  font-weight: 100;
  font-size: 2vw;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: loading 1s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes loading {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}


.connection {
  font-family: Orbitron;
  font-weight: 100;
  font-size: 2vw;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  animation: connection 0.5s linear 0.5s 1 forwards, fadeOut 0.5s linear 29s 1 forwards;
}

.closed {
  font-family: Orbitron;
  font-weight: 100;
  font-size: 2vw;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  animation: connection 0.5s linear 29s 1 forwards;
}


@keyframes connection {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.type {
  position: absolute;
  transform: translateY(3vw);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.static {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}


.flavorText {
  font-family: Orbitron;
  font-weight: 100;
  font-size: 1.3vw;
  color: #FAF9F6;
  text-align: left;
  width: 90%;
  margin-left: 5%;
  letter-spacing: .15em;
}

.center {
  text-align: center;
}

#paul {
  width: 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  left:0;
  right:0;
  margin: 0 auto;
  animation: 
    paul 1s steps(40, end);
  animation-delay: 9s;
  animation-fill-mode: forwards;
}

@keyframes paul {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

#ops {
  width: 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  left:0;
  right:0;
  margin: 0 auto;
  animation: 
    paul 1s steps(40, end);
  animation-delay: 13s;
  animation-fill-mode: forwards;
}

#target {
  width: 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  left:0;
  right:0;
  margin: 0 auto;
  animation: 
    paul 1s steps(40, end);
  animation-delay: 14s;
  animation-fill-mode: forwards;
}

#ken {
  width: 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  left:0;
  right:0;
  margin: 0 auto;
  animation: 
    paul 1s steps(40, end);
  animation-delay: 15s;
  animation-fill-mode: forwards;
}

#lorenzo {
  width: 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  left:0;
  right:0;
  margin: 0 auto;
  animation: 
    paul 1s steps(40, end);
  animation-delay: 16s;
  animation-fill-mode: forwards;
}

#tiff {
  width: 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  left:0;
  right:0;
  margin: 0 auto;
  animation: 
    paul 1s steps(40, end);
  animation-delay: 17s;
  animation-fill-mode: forwards;
}

.proLink {
  text-align: right;
}

p {
  margin-left: 5%;
}

ul {
  margin-left: 10%;
}

b {
  color: #FAB3AD;
}

.briefLink {
  font-size: 2.5vw;
  text-align: right;
}

@media (max-width: 500px) {
  .passRsqt {
    font-size: 50px;
  }
  .briefLink {
    font-size: 25px;
  }
  .access {
    font-size: 40px;
    margin-top: 250px;
  }
  .prefix {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: rgba(165, 141, 141, .4);
    text-transform: uppercase;
    letter-spacing: .75em;
    text-align: center;
    animation: glitch-2 4s 4.02s infinite;
  }
  .glitch {
    font-style: italic;
    color: rgb(223, 191, 191);
    position: relative;
    font-size: 90px;
    animation: glitch 3s 3.02s infinite;
  }
  .prologueLink {
    font-size: 20px;
  }

  .type {
    transform: translateY(20px);
  }
  .connection {
    font-size: 16px;
  }
  .loading {
    font-size: 16px;
  }
  .closed {
    font-size: 16px;
  }
  .flavorText {
    font-size: 16px;
  }
  @keyframes paul {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  p {
    margin-left: 15px;
  }
  
  ul {
    margin-left: 0px;
  }
}




